@import url('https://fonts.googleapis.com/css2?family=Rubik+Gemstones&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
body{
  background-color:#5CFF5C;
  text-align: center;
  justify-content: center;
  align-items: center;

}
